footer{
  width: 70%;
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
  margin-top: 20px;
}

.footer-link-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-link header{
  border-bottom: white 1px solid;
}

.footer-link ul{
  list-style: none;
  padding: 0;
}
.social-media{
  width: 100%;
}
.social-media ul{
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.social-media ul li{
  padding: 0px 20px;
}

.contact{
  width: 100%;
  text-align: center;
}

.contact p{
  width: 40%;
  margin: auto;
}

.footer-logo{
  text-align: center;
  margin-top: 20px;
}

.copyright{
  text-align: center;
  margin: 20px;
}


/*Mobile*/
@media all and (max-width: 640px) {
  footer{
    width: 90%;
    
  }
    
  .footer-link-container{
    flex-direction: column;
  }

  .footer-link{
    padding: 20px 0;
  }

  .footer-link ul{
    display: none;
  }
  .footer-link header:after {
    content: "+";
    float: right;
    font-size: 2em;
    color: #707070;
    line-height: 12px;
  }

  .contact p{
    width: 100%;
    text-align-last: center;
  }
}
